html, body
{
	height: 100%;
}

a:focus, a:hover
{
	text-decoration: none !important;
}

.left-page 
{
	text-align: right;
}

@media (max-width: 767px)
{
	.left-page
	{
		text-align: left;
		border-right: 0 !important;
	}
	
	.right-page
	{
		margin-top: 1em;
		text-align: left;
	}
}
